*{margin:0;padding:0;outline:none;}
@font-face{font-family:'fonarto';src:url('../font/Fonarto.ttf');}
body{padding-bottom: 200px;background-color:#FFF;}
#mainContainer{width:500px;padding-bottom:200px;}
.mainBlock{width:450px;position:relative;left:50%;margin-top:20px;margin-left:-225px;padding-bottom:20px;border-radius:20px;background-color:#FFF;box-shadow:0px 10px 30px #DCDCDC;}
.inputButton{width:150px;height:40px;position:relative;margin-top:20px;margin-left:50px;display:inline-block;border-radius:30px;background-color:#2A98FF;cursor:pointer;}
.iB0{margin-left:150px;}.iB1{background-color:#00BD26;}
.buttonText{width:100px;position:absolute;left:40px;top:7.5px;color:#FFF;font-family:'fonarto';font-size:20px;text-align:center;user-select:none;}
.bT0{color:#FFF;}
.inputLabel{width:400px;margin-top:20px;margin-left:25px;display:inline-block;font-family:'fonarto';color:#2A98FF;font-size:20px;}
.inputContainer{width:390px;height:40px;position:relative;margin-top:20px;margin-left:30px;border-radius:30px;background-color:#E5F3FF;}
.inputField{width:320px;height:40px;display:block;position:absolute;left:50px;border:none;background:none;font-family:'fonarto';color:#2A98FF;font-size:20px;text-align:center;}
.filelistEntry{width:400px;margin-top:20px;margin-left:25px;display:inline-block;font-family:'fonarto';text-align:center;color:#2A98FF;font-size:20px;word-wrap:break-word;}
.seperator{width:300px;height:3px;margin-top:20px;margin-left:75px;display:inline-block;background-color:#2A98FF;border-radius:30px;}
.svgIcon{width:25px;position:absolute;top:7.5px;left:20px;display:block;}
.sI0{stroke:#2A98FF;}.sI1{stroke:#FFF;}.sI2{stroke:#FFF;}
@media screen and (max-width: 500px) {
	body{padding-bottom: 40vw;}
	#mainContainer{width:1000vw;padding-bottom:40vw;}
	.mainBlock{width:90vw;margin-top:4vw;margin-left:-45vw;padding-bottom:4vw;border-radius:4vw;box-shadow:0vw 2vw 6vw #DCDCDC;}
	.inputButton{width:30vw;height:8vw;margin-top:4vw;margin-left:10vw;border-radius:6vw;}
	.iB0{margin-left:30vw;}
	.buttonText{width:20vw;left:8vw;top:1.5vw;font-size:4vw;}
	.inputLabel{width:80vw;margin-top:4vw;margin-left:5vw;font-size:4vw;}
	.inputContainer{width:78vw;height:8vw;margin-top:4vw;margin-left:6vw;border-radius:6vw;}
	.inputField{width:64vw;height:8vw;left:10vw;font-size:4vw;}
	.filelistEntry{width:80vw;margin-top:4vw;margin-left:5vw;font-size:4vw;}
	.seperator{width:60vw;height:0.6vw;margin-top:4vw;margin-left:15vw;border-radius:6vw;}
	.svgIcon{width:5vw;top:1.5vw;left:4vw;}
}

