body{background-color:#E1F1FF;}
.mainBlock{margin-top:40px;padding-bottom:40px;background-color:#E1F1FF;box-shadow:-10px -10px 40px #F6FBFF, 10px 10px 40px #B6DDFF;}
.inputButton{margin-top:40px;background-color:#E1F1FF;box-shadow:-10px -10px 40px #F6FBFF, 10px 10px 40px #B6DDFF;}
.iB1{background-color:#E1F1FF;}
.buttonText{color:#2A98FF;}
.bT0{color:#00BD26;}
.inputLabel{margin-top:40px;color:#2A98FF;}
.inputContainer{margin-top:40px;background-color:#E1F1FF;box-shadow:-10px -10px 40px #F6FBFF, 10px 10px 40px #B6DDFF;}
.inputField{color:#2A98FF;}
.filelistEntry{color:#2A98FF;}
.seperator{background-color:#2A98FF;}
.sI0{stroke:#2A98FF;}.sI1{stroke:#2A98FF;}.sI2{stroke:#00BD26;}
@media screen and (max-width: 500px) {
	.mainBlock{margin-top:8vw;padding-bottom:8vw;box-shadow:-2vw -2vw 8vw #FFFFFF, 2vw 2vw 8vw #D9ECFF;}
	.inputButton{margin-top:8vw;box-shadow:-2vw -2vw 8vw #FFFFFF, 2vw 2vw 8vw #D9ECFF;}
	.inputLabel{margin-top:8vw;}
	.inputContainer{margin-top:8vw;box-shadow:-2vw -2vw 8vw #FFFFFF, 2vw 2vw 8vw #D9ECFF;}
}

