body{background-color:#144879;}
.mainBlock{margin-top:20px;padding-bottom:20px;background-color:#144879;box-shadow:0px 10px 30px #0D2F50;}
.inputButton{margin-top:20px;background-color:#2481D9;box-shadow:0px 0px 0px #FFF;}
.iB1{background-color:#00A922;}
.buttonText{color:#FFF;}
.bT0{color:#FFF;}
.inputLabel{margin-top:20px;color:#D3EAFF;}
.inputContainer{margin-top:20px;background-color:#6CA2D1;box-shadow:0px 0px 0px #FFF;}
.inputField{color:#144879;}
.filelistEntry{color:#D3EAFF;}
.seperator{background-color:#D3EAFF;}
.sI0{stroke:#144879;}.sI1{stroke:#FFF;}.sI2{stroke:#FFF;}
@media screen and (max-width: 500px) {
	.mainBlock{margin-top:4vw;padding-bottom:4vw;box-shadow:0vw 2vw 6vw #0D2F50;}
	.inputButton{margin-top:4vw;box-shadow:0vw 0vw 0vw #FFF;}
	.inputLabel{margin-top:4vw;}
	.inputContainer{margin-top:4vw;box-shadow:0vw 0vw 0vw #FFF;}
}

